.ion-home-header_family {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 15px 0px 15px;
    background-color: var(--color-primary);
    position: relative;
}