html,
body,
ion-app,
ion-page,
ion-content {
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    background: var(--color-bg);
    color: var(--color-text);
}

ion-tab-bar {
  box-shadow: 0 0 12px rgba(0,0,0,0.08);
  border-radius: 18px 18px 0 0;
  margin: 0 0px 0px 0px;
  /* background: var(--color-card); */
  min-height: 64px;
}

ion-tab-button {
  --color-selected: var(--color-primary);
  --color: var(--color-text-secondary);
  font-weight: 500;
  font-size: 14px;
  transition: background 0.2s;
  border-radius: 12px;
  margin: 0 2px;
  padding: 6px 0;
}

ion-tab-button.ion-selected {
  background: var(--color-bg-secondary);
  font-weight: 700;
}

ion-tab-button ion-icon {
  font-size: 28px;
  margin-bottom: 2px;
}

ion-tab-button.ion-selected ion-label {
  color: var(--color-primary);
  font-weight: 700;
}

ion-tab-button ion-label {
  color: var(--color-text-secondary);
  font-size: 13px;
  font-weight: 500;
}

ion-tab-button.ion-selected {
  background: var(--color-bg-secondary) !important;
  border-radius: 12px;
}

ion-tab-button.ion-selected ion-icon,
ion-tab-button.ion-selected ion-label {
  color: var(--color-primary) !important;
  font-weight: 700;
}

ion-tab-button ion-label {
  color: var(--color-text-secondary);
  font-weight: 500;
}