.doctor-card-grid {
    border: 1px solid var(--color-border);
    padding: 16px;
    border-radius: 12px;
    text-align: center;
    width: 100px;
    background: var(--color-card);
    transition: 0.3s;
    box-shadow: 0 0 0 transparent;
  }
  
  .doctor-card-grid.selected {
    border: 2px solid var(--color-primary);
    box-shadow: 0 0 10px rgba(38, 94, 222, 0.3);
  }
  .doctor-avatar-grid {
    width: 30px;
    height: 30px;
    min-width: 25px;
  }
  
  .doctor-avatar-grid img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-bottom: 8px;
  }
  
  .doctor-info-grid {
    font-size: 14px;
    margin-bottom: 12px;
  }
  
  .select-button {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    cursor: pointer;
  }
  