.ion-home-header_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 0px 10px;
    background-color: var(--color-primary);
    position: relative;
    z-index: 1;
}

.service-page-container {
    margin-top: 20px;
}