.title-info-booking {
  margin-top: 0 !important;
}
.input-with-qr {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 16px 20px 10px 20px;
}

.qr-btn {
  background: var(--color-orange, #f39c12);
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}

.qr-btn label {
 color: var(--color-aliceblue);
 font-size: 15px;
    font-weight: 500;
    padding: 0 15px;
}
.info-page {
  padding: 15px;
  margin-top: 15px;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  padding-bottom: 100px;
}
.input-with-qr {
  padding-top: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.info-page-actions {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-top: 20px;
}

.info-page-actions .action-btn {
  flex: 1 1 0;
  min-width: 120px;
  border-radius: 30px;
}

ion-button::part(native) {
  border-radius: 16px !important; /* hoặc giá trị bạn muốn */
}

body.scanner-active {
  background: transparent !important;
}
.scanner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: var(--color-black);
}
.scanner-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background: rgba(0, 0, 0, 0.8);
  color: var(--color-white);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
body.scanner-active,
.ion-page.scanner-active {
background: transparent !important;
opacity: 0;
pointer-events: none;
}

.info-page-actions {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

.continnue_form::part(native) {
  border-radius: 50px !important;  /* chỉ áp dụng cho nút back */
}
