.payment-page {
    padding: 15px;
  margin-top: 15px;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}
.payment-card-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .payment-card {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 20px 16px;
    border: 1px solid var(--color-border);
    border-radius: 12px;
    background-color: var(--color-card);
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .payment-card:hover {
    background: var(--color-blue-light);
  }
  
  .payment-card.selected {
    background: var(--color-blue-light) !important;
    color: var(--color-black) !important;
  }
  
  
  .payment-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  
  .payment-label {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-black);
  }
  
  .navigation-buttons  {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    background: #fff; /* nếu muốn có nền */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
  }
  
  .back-btn::part(native) {
    border-radius: 50px !important;  /* chỉ áp dụng cho nút back */
  }

  .confirm-btn::part(native) {
    border-radius: 50px !important; /* chỉ áp dụng cho nút confirm */
  }