/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root {
    --color-bg: #fff;
    --color-bg-secondary: #fafbfc;
    --color-day-sell: #f0f2f5;
    --color-bg-function: #EBF0F4;
    --color-card: #fff;
    --color-text: #222;
    --color-text-header: #fff;
    --color-text-secondary: #333;
    --color-primary: #265EDE;
    --color-accent: #174c6f;
    --color-border: #e0e0e0;
    --color-border-strong: #265EDE;
    --color-hover: #eee;
    --color-tab-selected-bg: #eaf1ff;
    --color-tab-selected-text: #007aff;
    --color-muted: #888;
    --color-white: #fff;
    --color-black: #000;
    --color-black-toolbar: #fff;
    --color-blue: #2979ff;
    --color-blue-light: #e6f0ff;
    --color-blue-strong: #007bff;
    --color-aliceblue: #f0f8ff;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --color-bg: #181818;
      --color-bg-secondary: #23272f;
      --color-day-sell: #23272f;
      --color-bg-function: #23272f;
      --color-card: #181818;
      --color-text: #f5f5f5;
      --color-text-header: #fff;
      --color-text-secondary: #e0e0e0;
      --color-primary: #265EDE;
      --color-accent: #90caf9;
      --color-border: #333;
      --color-border-strong: #90caf9;
      --color-hover: #23272f;
      --color-tab-selected-bg: #22304a;
      --color-tab-selected-text: #90caf9;
      --color-muted: #888;
      --color-white: #23272f;
      --color-black: #fff;
      --color-black-toolbar: #fff;
      --color-blue: #90caf9;
      --color-blue-light: #22304a;
      --color-blue-strong: #90caf9;
      --color-aliceblue: #23272f;
    }
  }