.ion-home-header_service_detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 20px 10px 20px;
    background-color: var(--color-primary);
    position: relative;
    z-index: 1;
}
.service-form-card {
    margin-bottom: 50px;
}