.custom-toolbar {
  --background: var(--color-primary) !important;
  padding: 10px 0 0 0;
}
.ion-page {
  z-index: 1 !important;
}

.ion-page_booking {
 background-color: var(--color-primary); /* màu xanh bạn muốn */
  min-height: 100vh;    
}

.ion-home-page_booking {
  box-shadow: none !important; /* bỏ tất cả shadow */
  border-bottom: none;          /* nếu còn viền dưới mặc định */
}

ion-back-button {
  color: var(--color-black-toolbar);
}

.toolbar-flex {
  width: 100%;
  display: flex;
  align-items: center;
  height: 56px;
  box-shadow: none !important;    /* bỏ shadow */
  border-bottom: none !important;
}
.button-back-header {
    color: var(--color-aliceblue);
}
.toolbar-side {
    flex: 0 0 56px;
    /* cùng chiều rộng với nút back */
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-bg-function);
}

.toolbar-center {
    flex: 1 1 auto;
    text-align: center;
    color: var(--color-black-toolbar);
    font-size: 20px;
    font-weight: bold;
}

.custom-bk-content {
    position: absolute;
    z-index: 10;
    top: 8%;
    bottom: 0;            /* kéo dài đến cuối màn hình */
    left: 0;
    right: 0;
    overflow-y: auto; 
    margin-top: 20px !important;
    padding-top: 300px !important;
    background: var(--color-bg-function);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0 -2px 16px rgba(38,94,222,0.10);
    min-height: 80vh;
    z-index: 10 !important;
}
.booking-tab-buttons {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    background: var(--color-card);
    border-radius: 12px 12px 0 0;
    padding: 10px 8px;
    scrollbar-width: none;
    z-index: 20;
    position: sticky;
    top: -10px;
  
  position: sticky;
  top: -10px; /* giữ tab ở đầu khi cuộn */
}
  .booking-tab-buttons .title-tab-booking {
    white-space: nowrap;      
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    font-weight: 500;
    color: var(--color-text-secondary);
    transition: color 0.2s;
  }
  
  .booking-tab-buttons ion-tab-button {
    flex: 1;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    color: var(--color-muted);
  }
  
  .booking-tab-buttons .active .title-tab-booking {
    color: var(--color-tab-selected-text);
    font-weight: bold;
    border-bottom: 2.5px solid var(--color-primary); /* Gạch chân xanh */
  padding-bottom: 4px;  
  }
  
  .tab-content {
    padding: 16px;
  }