.custom-bk-form-content {
    position: absolute;
    z-index: 10;
    top: 90px;
    bottom: 0;            /* kéo dài đến cuối màn hình */
    left: 0;
    right: 0;
    overflow-y: auto; 
    margin-top: -2px;
    padding-top: 10px;
    background-color: #EBF0F4;
    border-radius: 28px 28px 0 0;
    box-shadow: 0 -2px 16px rgba(38,94,222,0.10);
    min-height: 80vh;
}
.toolbar-flex-form {
    display: flex;
    align-items: center;
    height: 56px;
    width: 100%;
}
.toolbar-side-form {
    flex: 0 0 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.toolbar-center-bkf {
    flex: 1 1 auto;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.toolbar-side-bkf {
    flex: 0 0 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-bk-form-content::part(background) {
    background: #EBF0F4 !important;
  }

  .booking-form-header-bg {
    background: #f0f4f8; /* Light blue-grey background */
    padding-top: 40px;
    padding-bottom: 60px; /* Space for the card to overlap */
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking-form-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}