.departments-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px 12px;
    margin: 32px 0 16px 0;
    justify-items: center;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .department-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-bg-secondary);
    border-radius: 18px;
    padding: 25px 4px 8px 4px;
    box-shadow: 0 2px 8px rgba(60, 60, 60, 0.04);
    transition: box-shadow 0.2s, transform 0.2s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
  }
  
  .department-card:hover {
    box-shadow: 0 4px 16px rgba(60, 60, 60, 0.12);
    transform: translateY(-4px) scale(1.04);
  }
  
  .department-icon img {
    width: 40px;
    height: 36px;
    object-fit: contain;
    margin-bottom: 10px;
    display: block;
  }
  
  .department-name {
    font-size: 13px;
    color: var(--color-text);
    text-align: center;
    font-weight: 500;
    line-height: 1.3;
    margin-top: 2px;
    word-break: break-word;
  }

  .department-card.selected {
    border: 2px solid var(--color-primary);
    background: var(--color-bg-function);
    /* hoặc bất kỳ style nổi bật nào bạn muốn */
  }